---
export const prerender = false;

const pageTitle = "Template";
const pageDescription = "Template page for the kyanet.";
const pageImage = "";
const pageColor = "#1b1b1b";

const identity = {
	name: "Kyanoxia Rivera",
	country: "United States",
	nickname: "Kya",
	pronouns: "she/her",
	race: "Human Fox Hybrid",
	occupation: "Graphic Designer",
	iteration: 0
};

import KFooter from "../components/KFooter.astro";
import "../styles/global.css";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<meta property="og:site_name" content="The Kyanet" />
		<meta property="og:title" content=`${pageTitle}` />
		<meta property="og:description" content=`${pageDescription}` />
		<meta property="og:image" content=`${pageImage}` />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="The Kyanet" />
		<meta name="twitter:title" content=`${pageTitle}` />
		<meta name="twitter:description" content=`${pageDescription}` />
		<meta name="twitter:url" content=`https://kyanoxia.com/`>
		<meta name="twitter:image" content=`${pageImage}` />

		<meta itemprop="name" content=`${pageTitle}` />
		<meta itemprop="description" content=`${pageDescription}` />
		<meta itemprop="image" content=`${pageImage}` />

		<meta name="theme-color" content=`${pageColor}` />

		<title>{pageTitle}</title>

		<script is:inline src="https://kit.fontawesome.com/6a9ec12e2e.js" crossorigin="anonymous"></script>
	</head>
	<body style="background-color: #1b1b1b;">
		<div class="content" style="text-align: center; max-width: 80ch;">
			<h1>The Kyanet Page</h1>
			<p>Every page will follow this specific design guideline.  The reason for that is because we are using flexbox to put the footer at the bottom of the page properly.  Shit's not easy, yo.  Wrap all the page content here and treat .content as the body tag.</p>
		</div>
		<KFooter page=`${pageTitle}` />
	</body>
</html>
