---
export const prerender = false;

const pageTitle = "Template";
const pageDescription = "Template page for the kyanet.";
const pageImage = "";
const pageColor = "#1b1b1b";

import KFooter from "../components/KFooter.astro";
import "../styles/global.css";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<meta property="og:site_name" content="The Kyanet" />
		<meta property="og:title" content=`${pageTitle}` />
		<meta property="og:description" content=`${pageDescription}` />
		<meta property="og:image" content=`${pageImage}` />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="The Kyanet" />
		<meta name="twitter:title" content=`${pageTitle}` />
		<meta name="twitter:description" content=`${pageDescription}` />
		<meta name="twitter:url" content=`https://kyanoxia.com/`>
		<meta name="twitter:image" content=`${pageImage}` />

		<meta itemprop="name" content=`${pageTitle}` />
		<meta itemprop="description" content=`${pageDescription}` />
		<meta itemprop="image" content=`${pageImage}` />

		<meta name="theme-color" content=`${pageColor}` />

		<title>{pageTitle}</title>

		<link rel="sitemap" href="/sitemap-index.xml" />

		<script is:inline src="https://kit.fontawesome.com/6a9ec12e2e.js" crossorigin="anonymous"></script>
	</head>
	<body style="background-color: #1b1b1b;">
		<div class="content center" style="text-align: center; max-width: 80ch; margin-top: 50px; padding: 50px;">
			<h1>The Kyanet Page</h1>
			<h2>Why we follow this guide</h2>
			<p>Every page will follow this specific design guideline. We have a few reasons for that actually.  One of which is SEO (Search-Engine-Optimization). Shit's not easy, yo. We want to have all of our pages to have at least a little bit of effort put in - so here's what we do for that:</p>
			<ul style="text-align: left;">
				<li>Only use 1 h1 tag per page</li>
				<li>Use h2 tags to separate page topics</li>
				<li>Use descriptive keywords in explanations and summaries</li>
			</ul>

			<div class="spacer"></div>

			<h2>What about DOM structure?</h2>
			<p>I purposefully designed the site in a way to NOT take advantage of the footer tag.  The reason for this is because in order to have a dynamic good-looking page footer, we need to use flexbox to push it to the bottom of the page.  If we format our entire HTML document as flex, we would have sizing and position issues on pages where content is larger than viewport height. So how should we compose our pages?</p>
			<ul style="text-align: left;">
				<li>Wrap EVERYTHING in the .content div</li>
				<li>Treat .content as the body tag</li>
				<li>Use a separate stylesheet, or inline css where you need modifications</li>
			</ul>

			<h3>Remember you can use a tags as containers too, you don't need to use a div with onclick. That's bad for SEO.</h3>
		</div>
		<KFooter page=`${pageTitle}` color="#1b1b1b" />
	</body>
</html>
