---
export const prerender = false;

const pageTitle = "Orchid";
const pageDescription = "Where Bluesky Meets Discord. Use Orchid to racefully bridge your community with huge customizability, including post announcements, filters, and more.";
const pageImage = "img/Logo.png";
const pageColor = "#FF5E9A";

import { Image } from "astro:assets";
import KFooter from "../components/KFooter.astro";
import "../styles/orchid.css";

import post from "../../public/img/orchid-showcase.png";
import list from "../../public/img/orchid-list.png";
import connect from "../../public/img/orchid-connect.png";
import provider from "../../public/img/orchid-provider.png";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="svg/orchid-logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<meta property="og:site_name" content="The Kyanet" />
		<meta property="og:title" content=`${pageTitle}` />
		<meta property="og:description" content=`${pageDescription}` />
		<meta property="og:image" content=`${pageImage}` />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="The Kyanet" />
		<meta name="twitter:title" content=`${pageTitle}` />
		<meta name="twitter:description" content=`${pageDescription}` />
		<meta name="twitter:url" content=`https://kyanoxia.com/`>
		<meta name="twitter:image" content=`${pageImage}` />

		<meta itemprop="name" content=`${pageTitle}` />
		<meta itemprop="description" content=`${pageDescription}` />
		<meta itemprop="image" content=`${pageImage}` />

		<meta name="name" content=`${pageTitle}` />
		<meta name="description" content=`${pageDescription}` />
		<meta name="image" content=`${pageImage}` />

		<meta name="theme-color" content=`${pageColor}` />

		<title>{pageTitle}</title>

		<link rel="sitemap" href="/sitemap-index.xml" />

		<script is:inline src="https://kit.fontawesome.com/6a9ec12e2e.js" crossorigin="anonymous"></script>
		<link href="https://api.fontshare.com/v2/css?f[]=general-sans@200,201,300,301,400,401,500,501,600,601,700,701,1,2&display=swap" rel="stylesheet">
	</head>
	<body style="background-color: #1b1b1b;">
		<div class="content center" style="text-align: center;">
			<div class="topbar">
				<a href="https://bsky.app/profile/orchid.kyanoxia.com">
					<img src="svg/orchid-logo.svg" alt="Orchid Logo" class="logo">
				</a>
				<a href="https://bsky.app/profile/orchid.kyanoxia.com/">
					<span class="page-header">Orchid</span>
				</a>
			</div>
			<div class="hero">
				<div class="landing vstack">
					<div class="vstack" id="landing">
						<h1 class="head-large">Gracefully bridge your Bluesky account and Discord channels.</h1>
						<p>Orchid is a FOSS Discord App created to forward Bluesky posts to your Discord community.</p>
					</div>
					<div class="cta hstack">
						<a class="button secondary" href="https://github.com/Kyanoxia/orchid">GitHub</a>
						<a class="button" href="https://discord.com/oauth2/authorize?client_id=1297227452707373267">Add Orchid</a>
					</div>
				</div>
			</div>

			<div class="separator"/>

			<div class="information">
				<div class="deck">
					<div class="card">
						<Image src={post} alt="Orchid Post" />
						<div>
							<h3>Built for Speed</h3>
							<p>Orchid forwards posts with an average of under one second to all of your Discord channels, emphasizing urgency in response time and ensuring your community is notified for time-sensitive posts.</p>
						</div>
					</div>
					<div class="card reverse">
						<Image src={list} alt="Orchid Post" />
						<div>
							<h3>Alts? Yeah, we got you.</h3>
							<p>With no software limit, you can connect as many accounts as you need in one server, or even one channel.  This opens infinite possibilities for large communities, and small projects alike.</p>
						</div>
					</div>
					<div class="card">
						<Image src={connect} alt="Orchid Post" />
						<div>
							<h3>Keeping secrets?</h3>
							<p>Orchid uses Regex matching as a blacklist filter, which provides a customizable way to blacklist or whitelist posts with certain content or tags.</p>
						</div>
					</div>
					<div class="card reverse">
						<Image src={provider} alt="Orchid Post" />
						<div>
							<h3>Bsky embeds don't cut it</h3>
							<p>Of course, that's why we've enabled the use of several different embed providers (we love you bluesky).  In case something goes down or stops working, you can rest assured that you have extensive options available for you.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="separator"/>
			<p>
				Convinced?  Go ahead and add the bot to your server, I guarantee you won't regret it.
			</p>
			<div class="separator"/>
		</div>
		<KFooter page=`${pageTitle} | Design Inspiration from Midnight Wolf` color="#1b1b1b" />
	</body>
</html>
